	body > p:first-child { font-size: 240%; text-align: center; }
	body > p:nth-child(2) { text-align: right; }
	code { font-size: 130%; }
	pre, code { color: darkGreen; padding:0; font-family: 'Consolas', sans-serif }
	pre { background-color: antiqueWhite; }	
	html, body, p { font-family: 'Verdana', 'Ububtu', serif; }
	blockquote { margin-left: 2em; }
	th, td { border: thin solid black; padding-left: 1em; padding-right: 1em; }
	th { border-bottom: solid black 2px; }
	th { background-color: lightGray; font-weight: normal; font-size: 100%; }
	table { border: solid black 2px; border-collapse: collapse; }